.subscribe {
  width: 100%;
  padding: 5rem 0px;
  background-color: #003580;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  font-size: 16px;
}

.subscribeInput, .subscribeBtn {
  height: 2.5rem;
  padding: 4px 6px;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.subscribeInput {
  width: 15rem;
  font-size: 14px;
}

.subscribeBtn {
  background-color: #0071c2;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.subscribeInputContainer {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 520px){
  .subscribe {
    width: 100vw;
  }

  .subscribeTitle {
    font-size: 22px;
  }

  .subscribeDesc {
    font-size: 12px;
  }

  .subscribeInput {
    width: 10rem;
    height: 2rem;
    font-size: 12px;
  }
  
  .subscribeBtn{
    width: 5rem;
    height: 2rem;
    font-size: 12px;
  }
}

@media screen and (max-width: 900px){
  .subscribe {
    width: 100vw;
  }
}