.navbar {
  height: 60px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.logo {
  color: white;
  font-weight: 600;
  font-size: x-large;
}

.navButton {
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}

.navButton:active {
  transform: scale(0.95);
  transform: translateY(2px);
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px 0071c2;
}

@media screen and (max-width: 420px) {
  .navbar {
    padding: 0rem .5rem;
    overflow: hidden;
  }
  .logo {
    font-size: 22px;
  }
  .navButton {
    font-size: 12px;
    font-weight: bold;
  }
}

@media screen and (max-width: 900px){
  .navbar {
    width: 100vw;
    padding: 0 1rem;
  }
}