.featuredHouses {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.featuredHousesList {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.featuredHousesListItem {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.featuredHousesImg {
  width: 100%;
  border-radius: 10px;
  height: 150px;
}

.featuredHousesImg:hover {
  border: 2px solid black;
}

.featuredHousesName {
  font-weight: bold;
}

.featuredHousesCity {
  font-size: 14px;
  font-weight: 300;
}

.featuredHousesPrice {
  font-weight: 500;
}

.featuredHousesRatings>button {
  background-color: #003580;
  color: white;
  font-weight: bold;
  padding: 3px;
  border: none;
  margin-right: 10px;
}

.featuredHousesRatings>span {
  font-size: 14px;
}

@media screen and (max-width: 520px) {
  .featuredHouses {
    padding: 0 .5rem;
    width: 100vw;
    max-width: 100vw;
  }

  .featuredHousesList {
    flex-wrap: wrap;
  }

  .featuredHousesListItem {
    flex: 0 0 45%;
    width: 100%;
  }

  .featuredHousesImg:hover {
    border: none;
  }

  .featuredHousesName {
    font-size: 14px;
  }

  .featuredHousesCity {
    font-size: 12px;
  }

  .featuredHousesPrice {
    font-size: 12px;
  }

  .featuredHousesRatings>span {
    font-size: 13px;
  }
}