.searchItem {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}

.siImg {
  max-width: 250px;
  min-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.siDesc {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.siTitle {
  font-size: 22px;
  color: #0071c2;
}

.siDistance {
  font-size: 14px;
}

.siTaxiOp {
  font-size: 14px;
  background-color: #008009;
  color: white;
  width: max-content;
  border-radius: 5px;
  padding: 3px;
}

.siSubtitle {
  font-size: 14px;
  font-weight: bold;
}

.siFeatures {
  font-size: 14px;
}

.siCancelOp {
  font-size: 14px;
  color: #008009;
  font-weight: bold;
}

.siCancelOpSubtitle{
  font-size: 14px;
  color: #008009;
}

.siDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.siRating {
  display: flex;
  justify-content: space-between;
}

.siRating > span {
  font-size: 16px;
  font-weight: bold;
}

.siRating > button {
  font-weight: bold;
  background-color: #003580;
  color: white;
  border: none;
  outline: none;
  padding: 5px;
}

.siDetailTexts {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.siPrice {
  font-size: 24px;
  font-weight: bold;
}

.siDetailTexts > button {
  font-size: 14px;
  font-weight: bold;
  background-color: #0071c2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  cursor: pointer;
}

@media screen and (max-width: 420px){
  .searchItem {
    width: 100%;
    flex-direction: column;
  }

  .siImg {
    max-width: 100%;
  }

  .siDetails {
    gap: .5rem;
  }

  .siRating {
    align-self: flex-start;
    gap: 1rem;
    align-items: center;
  }

  .siDetailTexts {
    text-align: left;
  }
}

@media screen and (max-width: 900px){
  .siRating {
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  .siRating > button {
    width: max-content;
  }

  .siDetails {
    justify-content: space-around;
    align-items: flex-start;
    gap: 0rem;
  }

  .siDetailTexts {
    text-align: left;
  }
}